Text{
    -fx-font-size: 16;
}#boldd{
     -fx-font-family: 'Roboto Black';
     -fx-font-size: 22;
 }#bolddd{
       -fx-font-family: 'Roboto Black';
       -fx-font-size: 22;
  }

.Label{

}#boldd{
     -fx-font-family: 'Roboto Black';
     -fx-font-size: 22;
 }