.jfx-button{
    -fx-font-family: 'Roboto Black';
    -fx-background-color: rgba(255, 21, 0, 0.69);
    -fx-pref-width: 60;
    -fx-pref-height: 25;
    -fx-start-margin: 5;
    -fx-grid-lines-visible: true;
}
.label{
    -fx-pref-width: 200;
    -fx-pref-height: 25;
    -fx-grid-lines-visible: true;
}

.jfx-list-view{
    -fx-grid-lines-visible: true;
}




