/*documentary for the scroll-bar: https://blog.ngopal.com.np/2012/07/11/customize-scrollbar-via-css/    */

.jfx-list-view .scroll-bar:vertical .thumb,
.jfx-list-view .scroll-bar:horizontal .thumb,
.web-view .scroll-bar:vertical .thumb,
.web-view .scroll-bar:horizontal .thumb{
    -fx-background-color: derive(#363d54,30%);
}

.jfx-list-view .scroll-bar:vertical .track,
.jfx-list-view .scroll-bar:horizontal .track,
.web-view .scroll-bar:vertical .track,
.web-view .scroll-bar:horizontal .track{
    -fx-background-color: derive(#748cdc,80%);
}

.jfx-list-view .increment-button ,.jfx-list-view .decrement-button,
.web-view .increment-button ,.web-view .decrement-button{
    -fx-background-color: derive(#748cdc, 70%);
}

.jfx-list-view .scroll-bar:horizontal:hover .thumb ,
.jfx-list-view .scroll-bar:horizontal:pressed .thumb ,
.jfx-list-view .scroll-bar:vertical:hover .thumb,
.jfx-list-view .scroll-bar:vertical:pressed .thumb,
.web-view .scroll-bar:horizontal:hover .thumb ,
.web-view .scroll-bar:horizontal:pressed .thumb ,
.web-view .scroll-bar:vertical:hover .thumb,
.web-view .scroll-bar:vertical:pressed .thumb {
    -fx-background-color: derive(#363d54, 10%);
}