

.jfx-tab-pane .headers-region .label{
    -fx-background-color: #1b75bc;
}


.jfx-button{
    -fx-font-family: 'Roboto Black';
    -fx-font-size: 26;
    -fx-background-size: cover;
} #ServiceRequests{
      -fx-background-image: url('/images/ButtonSR.png');
      -fx-font-size: 26;
      -fx-background-radius: 25;

  }  #CurrentRequests{
           -fx-background-image: url('/images/ButtonCR.png');
           -fx-font-size: 26;
           -fx-background-radius: 25;

       }  #EmployeeEditor{
                     -fx-background-image: url('/images/ButtonEE.png');
                     -fx-font-size: 26;
                     -fx-background-radius: 25;
                 } #mapEditor{
                       -fx-background-image: url('/images/ButtonME.png');
                       -fx-font-size: 26;
                       -fx-background-radius: 25;
                   } #mapPathfinder{
                         -fx-background-image: url('/images/ButtonMP.png');
                         -fx-font-size: 26;
                         -fx-background-radius: 25;
                     }#FindUs{
                          -fx-background-image: url('/images/ButtonHD.png');
                          -fx-font-size: 26;
                          -fx-background-radius: 25;
                      }#FormEditor{
                          -fx-background-image: url('/images/ButtonME.png');
                          -fx-font-size: 26;
                          -fx-background-radius: 25;
                      }



.jfx-tab-pane .tab-selected-line {
    -fx-stroke: #75bc1b;
    -fx-stroke-width: 3pt;
}

.list-cell:selected {
    -fx-background-color: #4b5960;

}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#a1a1a1 0%, #a1a1a1 25%, #a1a1a1 75%, #a1a1a1 100%);
    -fx-text-fill: white;
}

.list-cell:even { /* <=== changed to even */
    -fx-background-color: white;
}

.list-cell:filled:hover {
    -fx-background-color: #a2a2a2;
    -fx-text-fill: white;
}

.jfx-tab-pane .headers-region {
    -fx-background-color: #666666;
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color: #666666;
}
.jfx-tab-pane .tab-header-area .jfx-rippler
{
    -jfx-rippler-fill:  #a2a2a2;
}
.jfx-tab-pane .tab-selected-line {
    -fx-background-color: #a2a2a2;
    -fx-pref-height: 3;
}


.jfx-tab-pane .tab-selected-line {
    -fx-stroke: #0ad4d4;
    -fx-stroke-width: 3pt;
}

.jfx-progress-bar >  .bar{
    -fx-background-color: #002bf3;
}

.jfx-hamburger StackPane{
    -fx-pref-width: 40px;
    -fx-pref-height: 7px;
    -fx-background-color : #d63333;
    -fx-background-radius : 5px;
}

.jfx-list-cell:selected{
    -fx-background-color: #797979;
}
.jfx-list-cell{
    -fx-background-insets: 0.0;
}
*{
    -jfx-rippler-fill: #ffffff;
}
.jfx-list-cell:hover{
    -fx-background-color: #7c7c7c;
}

.jfx-list-view{
    -fx-expanded: true;
    -fx-background-insets: 0;
    -fx-cell-vertical-margin: 10.0;
    -fx-vertical-gap: 10;
    -fx-background-color: derive(#a1a1a1, 80%);
    -fx-border-color: derive(#6e6e6e, 40%);
    -fx-border-width: 3;
    /*-fx-pref-width: 150;*/
}

/*Below for Scroll bar of the LISTVIEW*/
/*documentary for the scroll-bar: https://blog.ngopal.com.np/2012/07/11/customize-scrollbar-via-css/    */

.jfx-list-view .scroll-bar:vertical .thumb,
.jfx-list-view .scroll-bar:horizontal .thumb,
.web-view .scroll-bar:vertical .thumb,
.web-view .scroll-bar:horizontal .thumb{
    -fx-background-color: derive(#6e6e6e,30%);
}

.jfx-list-view .scroll-bar:vertical .track,
.jfx-list-view .scroll-bar:horizontal .track,
.web-view .scroll-bar:vertical .track,
.web-view .scroll-bar:horizontal .track{
    -fx-background-color: derive(#a1a1a1,80%);
}

.jfx-list-view .increment-button ,.jfx-list-view .decrement-button,
.web-view .increment-button ,.web-view .decrement-button{
    -fx-background-color: derive(#a1a1a1, 70%);
}

.jfx-list-view .scroll-bar:horizontal:hover .thumb ,
.jfx-list-view .scroll-bar:horizontal:pressed .thumb ,
.jfx-list-view .scroll-bar:vertical:hover .thumb,
.jfx-list-view .scroll-bar:vertical:pressed .thumb,
.web-view .scroll-bar:horizontal:hover .thumb ,
.web-view .scroll-bar:horizontal:pressed .thumb ,
.web-view .scroll-bar:vertical:hover .thumb,
.web-view .scroll-bar:vertical:pressed .thumb {
    -fx-background-color: derive(#6e6e6e, 10%);
}