.jfx-button{
    -fx-font-family: 'Roboto Black';
    -fx-font-size: 26;
    -fx-background-size: cover;
    -fx-background-radius: 25;
} #ServiceRequests{
      -fx-background-image: url('/images/ButtonSR.png');
  }  #CurrentRequest{
           -fx-background-image: url('/images/ButtonCR.png');
       }  #EmployeeEditor{
                     -fx-background-image: url('/images/ButtonH.png');
                 } #mapEditor{
                       -fx-background-image: url('/images/ButtonM.png');
                   } #mapPathfinder{
                         -fx-background-image: url('/images/ButtonM.png');
                     }

.jfx-tab-pane .headers-region {
    -fx-background-color: #1b75bc;
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color: #1b75bc;
}
.jfx-tab-pane .tab-selected-line {
    -fx-stroke: #75bc1b;
    -fx-stroke-width: 3pt;
}




.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#748cdc 0%, #748cdc 25%, #748cdc 75%, #748cdc 100%);
    -fx-text-fill: white;
}

.list-cell:even { /* <=== changed to even */
    -fx-background-color: white;
}

.list-cell:filled:hover {
    -fx-background-color: #7e98ef;
    -fx-text-fill: white;
}

.jfx-tab-pane .headers-region {
    -fx-background-color: #363d54;
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color: #363d54;
}
.jfx-tab-pane .tab-header-area .jfx-rippler
{
    -jfx-rippler-fill: WHITE;
}
.jfx-tab-pane .tab-selected-line {
    -fx-background-color: WHITE;
    -fx-pref-height: 3;
}


.jfx-tab-pane .tab-selected-line {
    -fx-stroke: #0ad4d4;
    -fx-stroke-width: 3pt;
}

.jfx-progress-bar >  .bar{
    -fx-background-color: #002bf3;
}

.jfx-hamburger StackPane{
    -fx-pref-width: 40px;
    -fx-pref-height: 7px;
    -fx-background-color : #d63333;
    -fx-background-radius : 5px;
}

.jfx-list-cell:selected{
    -fx-background-color: #3d8c91;
}
.jfx-list-cell{
    -fx-background-insets: 0.0;
}
.jfx-list-cell .jfx-rippler{
    -fx-rippler-fill: #0000ff;
}
.jfx-list-cell:hover{
    -fx-background-color: #1bd79c;
}

.jfx-list-view{
    -fx-expanded: true;
    -fx-background-insets: 0;
    -fx-cell-vertical-margin: 10.0;
    -fx-vertical-gap: 10;
    /*-fx-pref-width: 150;*/
}
